@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;700&display=swap");

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #F4F5F7;
    --accent-color: #EE1C47;
    --black: #000;
    --white: #FFF;
    --bisque: #F8EFEE;
    --darksalmon: #C3A7A3;
    --moccasin: #FAF3EE;
    --lightgray: #F2F0EF;
    --azure: #F4F4F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    font-weight: 600;
    padding: 10px 50px;
    text-align: center;
    border: 0.3px solid var(--black);
    margin-top: 1rem;
}

.btn:hover {
    background-color: var(--accent-color);
    border: none;
    color: var(--white);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--black);
}

nav {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-right: 1.3rem;
}

nav ul li a i {
    font-size: 1.2rem;
    color: var(--accent-color);
}

nav .right-corner p{
    letter-spacing: 0.15rem;
}

nav .right-corner p span a {
    color: var(--accent-color);
}

.site-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--accent-color) !important;
}

.navbar {
    height: 67px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    margin-right: 2rem;
    color: var(--black);
}

.dropdown {
    display: inline;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    display: flex;
    align-items: center;
}

.dropbtn img {
    width: 10px;
    height: 10px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f5f7;
    width: 850px;
    left: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 30px;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #f4f5f7;
    height: 250px;
    display: flex;
}

.column-2 {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.column-2 img {
    margin-left: 250px;
    width: 300px;
    height: 175px;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}

.row {
    background-color: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.sec-nav-icon .cart-img {
    position: relative;
    z-index: 1;
}

.sec-nav-icon a span {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    z-index: 1;
    color: white;
}

.hero {
    position: relative;
    width: 100%;
    height: 850px;
    background-position: center;
    background-size: cover;
}

.mySlides {
    width: 100%;
    height: 850px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.prev,
.next {
    width: 32px;
    height: 32px;
    color: var(--white);
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-weight: bold;
    transition: 0.6s ease;
    user-select: none;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.hero-inner {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-inner a {
    display: inline-block;
    text-decoration: none;
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero-inner h1 {
    font-size: 48px;
}

.hero h3 {
    color: var(--accent-color);
}

.hero-inner button img {
    padding-left: 10px;
    width: 30px;
    height: 30px;
}

.hero-inner button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 21px;
}

.categories {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.categories .card {
    padding: 2.5rem;
}

.card--bg-bisque {
    background-color: var(--bisque);
}

.card--bg-darksalmon {
    background-color: var(--darksalmon);
}

.card--bg-moccasin {
    background-color: var(--moccasin);
}

.card--bg-lightgray {
    background-color: var(--lightgray);
}

.card--bg-azure {
    background-color: var(--azure);
}

.categories .card:nth-of-type(1){
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}