@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Poppins&family=Roboto:wght@400;500&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --primary-color: #FFFFFF;
    --secondary-color: #F4F5F7;
    --accent-color: #EE1C47;
}

h1 {
    font-size: 48px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

body {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}