.detail {
    display: flex;
    justify-content: space-between;
    column-gap: 3%;    
}

.detail .product-image {
    flex-basis: 37%;
    background-color: var(--azure);
}

.detail .product-image img {
    width: 100%;
}

.detail .specification {
    flex-basis: 40%;
}

.detail .specification .product-name {
    font-size: 42px;
    font-weight: 500;
}

.detail .related-images {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}